body {
        background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
        align-content: center;
        padding: 10px;
    }
    
#center {
    margin: 30px 0;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;        
}
nav{
    text-align: right;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 15px;
}

img{
    display: block;
}
section{
    
    height:768px; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(img/infoback.jpg);
    background-size: contain;
}
article {
    float: right;
    background-color: rgba(211,211,211,0.8);
    padding: 0 10px;
}

footer{
        clear: both;
        color:#ccc;
        margin: 10px;
        text-align: center;
}
